
:root {

  
  --cor-branco: #FFFFFF;
  --cor-preto: #000000;
  --cor-principal: #b84c65;
  --cor-fundo: #ed9d8c;
  --cor-destaque-1: #76232d;
  --cor-destaque-2: #b84c65;

  
  --regular: 'mark-pro-regular';
  --bold: 'mark-pro-bold';
}
